:root {
  --main-blue: #51A4F7;
  --main-red: #911F23;
  --main-grey: #303841;
  --main-white: #f0f0f0;
  --main-orange: #ffa500;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

/* Navbar */

.nav-list a {
  display: block;
  font-size: 1.3rem;
  padding: 2rem;
  transition: background-color 0.3s ease-out;
}

.nav-list a:hover {
  transition: background-color 0.3s ease-in;
  background-color: var(--main-red);
}

/* Welcome section */

#welcome-section {
  background-color: #000;
  background-image: linear-gradient(236deg, #3a3d40 0%, #181719 100%);
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  margin: 0px;
}
.sub-introduction {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: var(--main-blue);
}


/* Projects */

.project-header {
  color: var(--main-white);
  margin: 3rem auto 6rem auto;
  border-bottom: 0.3rem solid var(--main-white);
}

.projects {
  background-color: var(--main-red);
  width: 100%;
  height: auto;
  padding: 6rem 0 6rem 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-grid {
  width: 95%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 4rem;
  margin: 0 5vh;
  margin-bottom: 6rem;
}

.project-tile {
  background-color: var(--main-grey);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  transition: color 0.3s ease-out,
              box-shadow 0.3s ease-out;
}

.project-tile:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in,
              color 0.3s ease-in;
  color: orange;
}

.project-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

#profile-link {
  font-size: 1rem;
  color: var(--main-white);
  background-color: var(--main-grey);
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-out,
    color 0.3s ease-out;
}

#profile-link:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in,
    color 0.3s ease-in;
  color: orange;
}


/* Contact info */


.contact {
  background-color: var(--main-grey);
  width: 100%;
  height: 85vh;
  border-bottom: 0.5rem solid var(--main-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  font-family: 'Raleway', sans-serif;
  padding-top: 8rem;
  justify-self: center;
  font-size: 4rem;
}

.contact-links {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 940px;
}

.contact-link {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 3rem;
  text-shadow: 5px 3px 2px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-link:hover {
  transform: translateY(10px);
}

footer {
  width: 100%;
  height: 15vh;
  background-color: var(--main-grey);
}
